*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ventanaoculta{
    display: none;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: black;
    background-color: white;
    border: 1px solid black;
    padding: 20px;
}

div h1{
    font-size: 50px;
}

#chao{
    background-color: red;
    color: white;
    font-size: 30px;
    padding: 20px;
    border-radius: 10px;
}

#hola{
    font-size: 50px;
    padding: 20px;
    border-radius: 10px;
}

button:hover{
    cursor: pointer;
}